* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: verdana;
}

.sobre {
    background-image: url('../imagens/quadradoazul.jpg');
    top: -15px;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;

}

body {
    margin: 0 auto;
}

.menu a {
    font-size: 20px;
}

html,
body {
    height: 101%;
    overflow-x: hidden;
}

header {
    top: -10;
    height: 150px;
    padding: 20px 0;
}

.logo {
    width: 50%;

}

main {
    border-bottom: 4px solid rgb(219, 215, 210);
    background-color: rgb(247, 244, 241);
}


.menu {
    padding-top: 40px;
    width: 50%;
    text-align: right;

}

.menu a {
    color: rgb(46, 43, 43);
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
}

.menu a:hover {
    color: #162e8e;
    border-bottom: #162e8e 1px solid;
}

section.sobre {
    position: relative;
    height: calc(100% - 200px);
}

.extras {
    position: absolute;
    bottom: -70px;
    right: -70px;
    width: 550px;
    height: 570px;
    border-radius: 50%;
    

}

.texto {
    margin-top: 100px;
}

.texto h1 {
    font-size: 50px;
}

.texto p {
    margin: 20px 0;
    max-width: 500px;
    font-size: 20px;
    font-weight: bold;
}

.slider-principal {
    top: -18px;

}

button.slick-prev {
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 50px;
    width: 25px;
    position: absolute;
    z-index: 9;
    top: 40%;
    left: 0%;
    background-color: transparent;
    background-image: url('../imagens/seta-esquerda.png');
}

button.slick-next {
    display: inline-block;
    font-size: 0px;
    border: none;
    height: 50px;
    width: 25px;
    position: absolute;
    z-index: 9;
    top: 40%;
    right: 0;
    background-color: transparent;
    background-image: url('../imagens/seta-direita.png');
}

ul.slick-dots li {
    display: inline-block;
    font-size: 0px;
    border-radius: 50%;
    width: 26px;
    height: 26px;

}

ul.slick-dots li.slick-active {
    background-color: #162e8e;
}

.slick-dots li button {
    font-size: 0px;
    border: 5px solid white;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    
}

.slick-dots {
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 600px;
    top: 90%;

}
li.slick-active{
    background:#162e8e;
}

.slick-dots li {
    display: inline-block;
}
.texto-contato{
    text-align: center;
    width: 980px;
    margin: 0 auto;
}
.texto-contato p{
    color: #818080;

}
.texto-contato h1{
    color: #5c5c5c ;

}
.texto-contato strong{
    color: #353333 ;

}
.col3{
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3%;
    float: left;
    position: relative;
}
.bloco-texto{
    margin-top: 2.5em; 
}
.bloco-texto h3{
    color: #5c5c5c;
}
.col-3 {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    width: 29%;
    float: left;
    position: relative;
}
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem {
    height: 300px;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.bloco-imagem b, p {
    text-align: left;
}
.bloco-texto {
    margin-top: 3em;
}
.bloco-imagens-texto {
    background-color: #eeeeee;
}
.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px; 
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
} 
.bloco-foto {
    margin-top: 3em;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3%;
    position: relative;
    display: inline-block
}
.bloco-endereço{
    margin-top: 3em;

}
.apresentacao p{
color: #818080;
}
.apresentacao h1{
    color: #5c5c5c;
    display: inline-block;
    }
.bloco-endereço{
    color: #5c5c5c;
    display: inline-block;
}
.bloco-foto{
    display: inline-block;
}
.bloco-endereçoo{
    top: -20px;
    color: #5c5c5c;
    background-image: url('../imagens/ceu-azul.jpg');
    display: inline-block;
}